<p>
    Welcome !
</p>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <!--First slide-->
        <div class="item active">
            <img class="first-slide navMainBackgroundImage" src="content/images/img1.PNG" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="carouselTextColor" >Welcome to the TODO List</h1>
                </div>
            </div>
        </div>
        <!--Second slide-->
        <div class="item">
            <img class="second-slide navMainBackgroundImage" src="content/images/img2.PNG" alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="carouselTextColor">Main technologies I used:</h1>
                    <p class="carouselTextColor">HTML , CSS , JQUERY , ANGULAR , BOOTSTRAP </p>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.carousel -->
